<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Moodle - Suche</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/search.css">
</head>

<body>
  <div class="container">
    <div class="logo">
      <a href="https://eick-at.de" target="_blank">
        <img src="static/images/eickLogo.png" alt="Eick A Teachment" class="img-fluid">
      </a>
    </div>
    <div class="main">
      <div class="search">
        <input id="search" type="text" class="searchTerm" placeholder="Search Eick's Moodle Courses" autofocus>
        <button id="fetchdata" type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <div id="result" class="results">
      </div>
    </div>
  </div>
</body>

</html>
<script src="{{url_for('static', filename='js/search.js')}}"></script>



